<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div fxLayoutAlign=" centre centre" fxFlexFill class="main-div"  >
<div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="notavailable">
                <h1 class="heading">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                <img src=".\assets\Images\wishlist2.jpg" class="img-rounded" alt="Cinque Terre" height="170px">
                <br>
                 <div class="details">
                  Do you want to add this product to your WishList?<!-- /Adding and Setting up a WishList -->
                </div><br>
                <!-- <div class="details">
                    Please try again later.
                </div>  -->
                <div class="actions">
                    <button type="button" class="btn btn-info" class="btnconfirm"  (click)="onSubmitWishList()"> Confirm </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Later" class="btn btn-info" class="btnlater" routerLink="/products"/>
                </div>
            </div>
        </div>
    </div>
</div>
</div>