<div fxLayoutAlign="center top" fxFlexFill class="main-div"  >
  <h1 class="heading">Welcome To South Market</h1>
    <div fxLayoutAlign="center center" fxFlexFill class="main-div"  >
      
        <mat-card fxFlex="25">
            <mat-toolbar color="primary" > Login Page</mat-toolbar>
            <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)= "loginProcess()">
                <mat-form-field >
                  <input matInput placeholder="UserName" formControlName="username">
                </mat-form-field>
                <mat-form-field >
                    <input matInput type="password" placeholder="Password" formControlName="password">
                  </mat-form-field>
                <button mat-raised-button type="submit"  style="background-color:#3ca9d4;color: white;">Login</button>
                 
              </form>
               
        </mat-card>
    </div>
    </div>
    